.menu{
    background-color:  #FAFBFD;
    display: block;
    /* height: 100vh; */
    list-style: none;
    width: 250px;
    padding-left: 56px;
    padding-top: 190px;
}

.menu li{
    margin: 40px 0px;
    color:#9E9E9E
}